.nav--logo {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
}

.logo {
  width: 10rem;
}

.btn {
  background: red;
  color: white;
  padding: 0.3rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: brown;
  transition: all 0.5s ease-in;
}
